* {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
body {
  padding: 10px 200px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width:1275px) {
  body {
    padding: 10px 50px;
  }
}
